.DS_Store
.vscode
.husky
**/node_modules
**/build
**/dist
**/.git
**/.svn
**/.hg
packages/client/.svelte-kit
**/.env
**/.env.*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
package.json
*.cjs